* {
    margin: 0;
    padding: 0;
}

.pink {
    min-height: 6vh;
    position: relative;
    background-color: #e0218a;
}

/* https://www.shapedivider.app/ */
.custom-shape-divider-top-1691496242 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1691496242 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.custom-shape-divider-top-1691496242 .shape-fill {
    fill: #FFFFFF;
}

.pink-two {
    min-height: 1vh;
    background-color: #e0218a;
    position: relative;
}

.pink-three {
    min-height: 5vh;
    position: relative;
    background-color: #e0218a;
}

/* https://www.shapedivider.app/ */
.custom-shape-divider-bottom-1691496986 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1691496986 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1691496986 .shape-fill {
    fill: #FFFFFF;
}

.top-carousel-container {
    margin-top: 10px;
}

.slider-one {
    height: 200px;
}

.special-offer-img {
    background-color: transparent;
    position: absolute;
}

.image-container {
    margin-top: 10px;
}

.shop-image {
    height: 500px;
    background: url('https://images.pexels.com/photos/626986/pexels-photo-626986.jpeg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.iframe-container {
    margin-top: 5px;
}

.pink-four {
    min-height: 10vh;
    position: relative;
    background-color: #e0218a;
}

.pink-footer {
    min-height: 10vh;
    background-color: #e0218a;
}

.facebook-logo {
    color: #fff;
    font-size: 80px;
}